@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: "Poppins", "Roboto", "QuickSand", "Open Sans", "Segoe UI", "Tahoma", sans-serif;
}

body {
  background-color: #333147;
  color: #ccceb8;
  padding-bottom: 300px;
  overflow-x: hidden;
}

header#header {
  height: 60px;
  background-color: #201F2D;
}
header#header .search-container {
  height: 40px;
  background-color: #333147;
  align-items: center;
  padding: 0 10px;
  margin: 0 15px;
  border-radius: 5px;
  overflow: hidden;
}
header#header .search-container .search-icon {
  cursor: pointer;
}
header#header .search-container input {
  background-color: transparent;
  height: 100%;
  padding-left: 15px;
  border: none;
  outline: none;
}
header#header .header-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(120deg, #b2afd7, #a2a0c836);
  color: transparent;
  -webkit-background-clip: text;
}
header#header .profile-area {
  position: relative;
}
header#header .profile-area .profile {
  width: 45px;
  height: 45px;
  background-color: #15151e;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
header#header .profile-area .profile-dropdown {
  width: 200px;
  height: auto;
  background-color: #15151e;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-100%, 100%);
  z-index: 5;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}
header#header .profile-area .profile-dropdown.active {
  opacity: 1;
  visibility: visible;
}
header#header .profile-area .profile-dropdown .profile-dropdown-item {
  transition: background-color 0.3s ease-out;
}
header#header .profile-area .profile-dropdown .profile-dropdown-item:hover {
  background-color: #1c1b27;
}

main#main section.wallpaper-area {
  width: 100%;
  height: 420px;
  position: relative;
}
main#main section.wallpaper-area::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #333147);
  position: absolute;
  top: 0;
  left: 0;
}
main#main section.wallpaper-area img {
  width: 100%;
  height: 100%;
}
main#main section.poster-area {
  width: 100%;
  height: auto;
}
main#main section.poster-area .poster-container {
  width: auto;
  height: auto;
  position: absolute;
  transform: translateY(-50%);
}
@media (max-width: 1000px) {
  main#main section.poster-area .poster-container {
    transform: translateY(-30%) !important;
  }
}
main#main section.poster-area .poster-container .poster-wrapper .poster {
  width: 240px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
main#main section.poster-area .poster-container .poster-wrapper .poster:hover .filter {
  opacity: 1;
}
main#main section.poster-area .poster-container .poster-wrapper .poster .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  opacity: 0;
  transition: opacity 0.15s ease-out;
}
main#main section.poster-area .poster-container .poster-wrapper .poster .poster-img {
  width: 100%;
  height: 100%;
}
main#main section.poster-area .poster-container .poster-wrapper .subscribe {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: #272634;
  color: #46e89a;
  text-shadow: 0 0 10px rgba(70, 232, 154, 0.5);
  text-transform: uppercase;
}
main#main section.poster-area .right-side {
  width: 60%;
  padding-left: 20px;
}
@media (max-width: 1100px) {
  main#main section.poster-area .right-side {
    width: 100%;
    padding-left: 0;
  }
}
main#main section.poster-area .right-side .imdb {
  width: 80px;
  height: auto;
  background-color: yellow;
  color: #302d42;
  text-transform: uppercase;
  flex-basis: 0;
  text-align: center;
  padding: 2px 0;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: 800;
}
main#main section.poster-area .right-side .properties .property-item {
  justify-content: center;
  align-items: center;
}
main#main section.poster-area .right-side .properties .property-item .property-key {
  color: #aeabc8;
}
main#main section.poster-area .right-side .properties .property-item .property-value {
  color: #dadada;
}
main#main section.poster-area .right-side .properties .property-item:not(:first-child) {
  border-left: 1px solid #4b4a62;
  padding-left: 20px;
}
main#main section.poster-area .right-side .actors-slider-container {
  width: 700px;
  height: auto;
}
@media (max-width: 780px) {
  main#main section.poster-area .right-side .actors-slider-container {
    width: 500px;
  }
}
@media (max-width: 550px) {
  main#main section.poster-area .right-side .actors-slider-container {
    width: 400px;
  }
}
@media (max-width: 420px) {
  main#main section.poster-area .right-side .actors-slider-container {
    width: 300px;
  }
}
main#main section.poster-area .right-side .actors-slider-container .actors-slider {
  width: 100%;
  height: 100%;
  background-color: rgba(41, 39, 61, 0.5);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
}
main#main section.poster-area .right-side .actors-slider-container .actors-slider .owl-stage {
  display: flex;
}
main#main section.poster-area .right-side .actors-slider-container .actors-slider .actor-item {
  width: 160px;
  height: 160px;
  display: flex;
}
main#main section.poster-area .right-side .actors-slider-container .actors-slider .actor-item .actor-image {
  width: 100%;
  height: 100%;
  background-color: #272538;
  border-radius: 10px;
  overflow: hidden;
}
main#main section.poster-area .right-side .actors-slider-container .actors-slider .actor-item .actor-image img {
  width: 100%;
  height: 100%;
  display: block;
}
main#main section.episode-n-seasons {
  margin-top: 280px;
}
@media (max-width: 1100px) {
  main#main section.episode-n-seasons {
    margin-top: 480px;
  }
}
@media (max-width: 1000px) {
  main#main section.episode-n-seasons {
    margin-top: 600px;
  }
}
main#main section.episode-n-seasons .episode-wrapper {
  max-height: 500px;
  overflow: auto;
}
main#main section.episode-n-seasons .episode-wrapper .episode-item {
  width: 100%;
  height: 110px;
  background-color: #13131e;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
  cursor: pointer;
}
main#main section.episode-n-seasons .episode-wrapper .episode-item .image-area {
  width: 100px;
  height: 100px;
  flex: 0 0 100px;
  border-radius: 10px;
  overflow: hidden;
}
main#main section.episode-n-seasons .episode-wrapper .episode-item .image-area img {
  width: 100%;
  height: 100%;
}
main#main section.episode-n-seasons .episode-wrapper .episode-item .episode-item-text {
  max-height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
main#main section.episode-n-seasons .seasons-wrapper {
  max-height: 500px;
  overflow: auto;
}
main#main section.episode-n-seasons .seasons-wrapper .season-item {
  width: 100%;
  height: 35px;
  background-color: #1d1c2c;
  color: white;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
main#main section.episode-n-seasons .seasons-wrapper .season-item.active {
  background-color: #2b2a41;
}
main#main section.comments {
  width: 100%;
  height: 200px;
}
main#main section.comments .message-area {
  width: 100%;
}
main#main section.comments .message-area .profile {
  width: 60px;
  height: 60px;
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
}
main#main section.comments .message-area .profile img {
  width: 100%;
  height: 100%;
}
main#main section.comments .message-area .message-input {
  width: 60%;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  margin-top: 30px;
  padding: 10px 0 0 10px;
  border-radius: 0 10px 10px 10px;
  background-color: #262439;
  border: none;
  outline: none;
}
@media (max-width: 600px) {
  main#main section.comments .message-area .message-input {
    width: 100%;
  }
}
main#main section.comments .comment-item .profile {
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  border-radius: 50%;
  overflow: hidden;
}
main#main section.comments .comment-item .profile img {
  width: 100%;
  height: 100%;
}
main#main section.comments .comment-item .comment-container {
  width: 70%;
  height: auto;
  background-color: #262439;
  margin: 25px 0 0 10px;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
  position: relative;
}
main#main section.comments .comment-item .comment-container .actions-container {
  position: absolute;
  bottom: -5px;
  right: 0;
  transform: translateY(100%);
}
main#main section.comments .comment-item .comment-container .actions-container .like-count {
  margin: 0 10px;
  color: #00ffa3;
}
main#main section.comments .comment-item .comment-container .actions-container .hand-icon {
  font-size: 0.85em;
  cursor: pointer;
}
main#main section.comments .comment-item .comment-container .actions-container .hand-icon.dislike {
  color: #ff005c;
  opacity: 0.5;
}
main#main section.comments .comment-item .comment-container .actions-container .hand-icon.like {
  color: #00ffa3;
}

/*# sourceMappingURL=style.css.map */
